.quote{
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    gap: 20%;
    height: 45vh;
    padding: 5%;
    padding-top: 8%;
}
.king-con{
    border-right: 5px outset black;
    border-bottom: 5px outset black;
    height: 43vh;
    padding-right: 1%;
}
.quote-h1{
    width: 40%;
    height: 24vh;
    padding: 2%;
}
